*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* top header */
#top-header{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 12px;
    gap: 30px;
    font-size: 12px;
    padding: 10px;
}
#top-header .fa-solid{
    color: rgb(161, 110, 17);
    font-size: 16px;
}

#top-header a, #header a
{
    text-decoration: none;
}

#top-header a span{
    color: rgb(85, 83, 83);
}

#top-header a span:hover{
    color: rgb(161, 110, 17);
}

/* header */
#header{
    width: 100%;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #000;
    background-color: rgba(201, 192, 192, 0.2);
    position: sticky;
    top: 0;
    left: 0;
}

#header a{
    color: #000;
}

#header .logo{
    font-size: 30px;
}

#header .navigation{
    display: flex;
    gap: 50px;
    
}

#header .navigation a,
#header .navigation .menu
{
    padding: 15px;
    /* border: 1px solid black; */
}

#header .navigation .menu{
    position: relative;
    /* padding: 16px; */
}


#header .navigation .menu .sub-menu{
    position: absolute;
    top: 40px;
    left: 0px;
    /* display: none; */
}

.menu1{
    width: 100px;
    background-color: aqua;
    padding: 5px;
    border: 2px solid black;
}

.menu1 a{
    padding: 10px;
}

#header .navigation .menu:hover .sub-menu{
    display: block;
}

/* MENU */




#check{
    height: 2000px;
}
